.python-version

__pycache__/

data_dcase2021_task3/*
!data_dcase2021_task3/list_dataset/
data_dcase2023_task3/*
!data_dcase2023_task3/list_dataset/
data_fsd50k_tau-srir/*
!data_fsd50k_tau-srir/list_dataset/
!data_fsd50k_tau-srir/fsd50k/fsd50k_all_class.txt
data_inference/*
!data_inference/list_dataset/
!data_inference/example/

dict_pickle/*
!dict_pickle/common/
